.TodoNavigation{
    display: flex;
    justify-content: space-around;
}

.nav{
    font-size: 12px;
}
.btn{
    background: none;
    border: none;

    font-size: 12px
}

:focus.btn {
    border: 1px solid #EAD7D7FF;
}
